{% extends "app/layout.html" %}
{% block content %}
{% load staticfiles %}

 <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro">
                        <h1>Berthier Lemieux</h1>
                        <h3>SW developer</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://github.com/blelem" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="http://stackoverflow.com/users/867248/berthier-lemieux?tab=topactivity" class="btn btn-default btn-lg"><i class="fa fa-stack-overflow fa-fw"></i> <span class="network-name">Stack overflow</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/berthierlemieux" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About me:</h2>
                    <p class="lead"> Expert in Windows Phone technologies (Silverlight and Windows Runtime, C# and C++). Home projects development using Django, Azure, Javascript, Python, OpenCV, Kinect, and whatever gets the work done.  
                        A special interest in Machine learning. 
                              </p>
                </div>
                <div class="col-lg-3 col-lg-offset-1 col-sm-3">
                    <img class="img-responsive" src="{% static 'app/img/berthier.jpg' %}" alt="" />
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>My Portfolio:</h2>
                     <p class="lead">Public work; outside work hours hacks</p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Elastic Pendulum</h2>
                    <p class="lead">Fooling around with SciPy running on Azure to interactively solve a math problem. </p>
                    <p class="lead">Using Django, SciPy, D3 and Javascript. <a target="_blank" href="http://mansewizphys.azurewebsites.net/ElasticPendulum/">Try it here</a>!</p>
                    <p>
                    <img style="max-height: 40px;" src="{% static 'app/img/d3.png' %}"/>
                    <img style="max-height: 40px;" src="{% static 'app/img/django.png' %}"/>
                    <img style="max-height: 40px;" src="{% static 'app/img/scipy_logo.png' %}"/> </p>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6" >
                    <img class="img-responsive" style="padding-top:75px;" src="{% static 'app/img/pendulum-experiment.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

   <div class="content-section-b">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">FallFury</h2>
                    <p class="lead">A Windows Phone 8.0 port of the coding4fun open source game</p>
                    <p class="lead">Using DirectX, C++ and C#. <a target="_blank" href="http://allaboutwindowsphone.com/software/content/FallFury.php">Try it here</a>!</p>
                    <p>
                    <img style="max-height: 40px;" src="{% static 'app/img/NET_Framework_v4.5_logo.png' %}"/>
                    <img style="max-height: 40px;" src="{% static 'app/img/Directx9.png' %}"/>
                    <img style="max-height: 40px;" src="{% static 'app/img/coding4fun.png' %}"/> </p>
                    

                </div>
                
                <div class="col-lg-5 col-lg-offset-2 col-sm-6" >
                    <img class="img-responsive"  src="{% static 'app/img/fallfury.png' %}" alt="">
                </div>

                    
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

{% endblock %}
