{% comment %} 
   Creates the HTML code for a select component.
   Inputs : 
     - panel : 
           "panelId"       : Unique Id
           "displayName"   : The title of the panel   
           "content"       : An object, with the parameters:
                "jsonName" : The name of the parameter to be used in the REST calls. 
				"dict"     : A dictionnary containing the items to populate the select. 
                             Each item has a 'key' and a 'description'
{% endcomment %}

 <div class="panel panel-primary controlPanelItem">
         <div class="panel-heading text-center">
            {{panel.displayName}}
         </div>
         <div class="panel-body">
			 <select class="control-select" data-bind="options: {{panel.content.jsonName}}Options , optionsText:'description', value: {{panel.content.jsonName}}Selected"></select>
         </div>
 </div>