{% extends "app/layout.html" %}

{% block content %}

<!-- Image selection -->


<h2>Source Image Set.</h2>

<div class="row">
  <div class="col-xs-6 col-md-3">
	<a href="#" class="thumbnail">
		<img src={{ selected_input_image.image_1.url }}>
	</a>
  </div>
  <div class="col-xs-6 col-md-3">
	<a href="#" class="thumbnail">
		<img src={{ selected_input_image.image_2.url }}>
	</a>
  </div>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Select a different image set
</button>

<div class="row">
	<div class="collapse" id="collapseExample">
	{% for image_set in input_image_list %}
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail">
					<img src={{ image_set.image_1.url }}>
					<br> 
					<img src={{ image_set.image_2.url }}>
				</a>
			</div>	
	{% endfor %}
	</div>
</div>


<!-- Image selection -->

<h2>Merged Image.</h2>
<img src="{{ merged_image_url }}" style="width:100%;"/>

{% endblock %}
