{% comment %} 
   Creates the HTML code for a select component.
   Inputs : 
     - content    : An object, with the parameters:
                        "jsonName" : The name of the parameter to be used in the REST calls. 
						"dict"     : A dictionnary containing the items to populate the select. 
                                     Each item has a 'key' and a 'description'
     - displayName : Display name of the UI component. 
{% endcomment %}

 <div class="panel panel-primary">
         <div class="panel-heading text-center">
            {{displayName}}
         </div>
         <div class="panel-body">
			 <select data-bind="options: {{content.jsonName}}Options , optionsText:'description', value: {{content.jsonName}}Selected"></select>
         </div>
 </div>