{% comment %} 
   Creates the HTML code for a slider component.
   Inputs : 
     - content    : An object, with the parameters:
                        "jsonName" : The name of the parameter to be used in the REST calls. 
						"dict"     : A dictionnary containing the items to populate the select. 
                                     Each item has a 'key' and a 'description'
     - displayName : Display name of the UI component. 
{% endcomment %}

 <div class="panel panel-primary controlPanelItem">
         <div class="panel-heading text-center">
            {{displayName}}
         </div>

         <div class="panel-body" style="width:100%" data-bind="with:{{ content.jsonName }}">
             <input id="ex1" data-slider-id='ex1Slider' type="text" data-bind="attr: { 'data-Slider-min': min, 'data-Slider-max': max }" data-slider-step="1" data-slider-value="14"/>
         </div>
 </div>