{% comment %} 
   Creates the js code for a slider panel component.
   Inputs : 
     - content    : An object, with the parameters:
                        "jsonName" : The name of the parameter to be used in the REST calls. 
						"dict"     : A dictionnary containing the items to populate the select. 
                                     Each item has a 'key' and a 'description'- name : The name of the js variables.
{% endcomment %}

		self.{{ content.jsonName }} = ko.observable({min:10, max:25});

	//	self.{{ content.jsonName }}Selected = ko.observable(self.{{ content.jsonName }}Options()[0]);
	//	self.jsonData.push ( function() { return { '{{ content.jsonName }}' : viewModel.{{ content.jsonName }}Selected().id }});