
{% extends "app/layout.html" %}
{% block content %}
{% load staticfiles %}

<div class="jumbotron">
    <h1>Select an Image Set!</h1>
    <p>
        Select the images you want to work on from the generous list below, or maybe upload your own.
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Create your own image set
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12  ">
                <!-- "Add" button -->
                <span class="btn btn-primary btn-file" data-bind="visible: shouldShowAddMoreButton">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <input type="file" multiple>
                </span>
            </div>
        </div>
        <!-- The grid of images to upload -->
        <div class="row" style="margin-top:20px" data-bind="visible: shouldShowFilesToUpload">
            <div data-bind="foreach: filesToUpload " class="tnList clearfix">
                <div class="col-xs-6 col-sm-3">
                    <a href="#" class="thumbnail">
                        <img data-bind="attr: { src: imgToDisplay }">
                    </a>
                    <div style="position:absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display:block" data-bind='visible: uploading'>
                        <i class="fa fa-circle-o-notch fa-spin fa-5x" ></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-12"  >
                <button id="uploadButton" class="btn btn-primary" data-bind="visible: shouldShowUploadButton"> <span class="glyphicon glyphicon-upload"></span> Upload</button>
                <button id="proceedButton" class="btn btn-primary" data-bind="visible: shouldShowProceedButton"> <span class="glyphicon glyphicon-ok"></span> Proceed with these!</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Use existing image set</h3>
    </div>
    <div class="panel-body">

        <!-- The grid of images available on the server -->

        <div class="row">
            <div data-bind="foreach: imageSets" class="tnList">
                <div class="col-xs-6 col-sm-3" data-bind="click: imageSelected" style="cursor: pointer;">
                    <div style="content:'';padding-top:100%;width:100%; position:relative; ">
                        <div data-bind="foreach: tn" class="slideshow" style="position:absolute;top:0%;left:0%;width:100%">
                            <div>
                                <img class="img-rounded " data-bind="attr: { src: $data }" style="position:absolute;width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display: none;" >
    <form id="imageUploadForm" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input name="imageSetId" type="hidden" value="{{imageSetId}}">
    </form>
</div>

{% endblock %}

{% block scripts %}

<script>
// KO viewmodel
function AppViewModel() {

    var self = this;
    self.imageSets = ko.observableArray({{imageSet|safe}});
       
    self.filesToUpload = ko.observableArray();
    self.shouldShowFilesToUpload = ko.computed(function() {
        return (self.filesToUpload().length > 0 );
    }, self);
    self.shouldShowAddMoreButton = ko.observable(true);
    self.shouldShowUploadButton = ko.observable(true);
    self.shouldShowProceedButton = ko.observable(false);

}

// Activates knockout.js
viewModel = new AppViewModel();
ko.applyBindings(viewModel);

// Add the .clearfix to properly end one row of image.

$('.tnList >').each(function (index) {
    if (index % 4 === 1) {
        $(this).after('<div class="clearfix visible-xs-block"></div>');
    }
    if (index % 4 === 3) {
        $(this).after('<div class="clearfix"></div>');
    }
});

// When a file is selected : add it to the viewModel 
$('.btn-file :file').on('change', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

    Array.prototype.forEach.call(input.get(0).files, function(fileSelected) {
        // Using FileReader to display the image content
        var reader = new FileReader(); 
        reader.onload = function(e) { 
            viewModel.filesToUpload.push({
            'imgData' : fileSelected,
            'imgToDisplay' : e.target.result,
            'uploading' : ko.observable(false)});
        };
        reader.readAsDataURL(fileSelected);
    });
});

$('#uploadButton').click(uploadImages);

function imageSelected(image){
    // First update the imageSet of the session
    var csrfmiddlewaretoken = $("#imageUploadForm > input[name='csrfmiddlewaretoken']").val();
    var fd = new FormData();
    fd.append("imageSetId", image.pk);
    fd.append("csrfmiddlewaretoken", csrfmiddlewaretoken);
    
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "setSessionProperties");
    xhr.addEventListener("load", ImageSetChangeCompleted, false);
    xhr.send(fd);

    function ImageSetChangeCompleted(evt) {
           

        }
}

// Upload the files to the server          
   
function uploadImages() {
    // Get an upload ID, before starting to upload 
    $.get( "imageUpload/GetId", { 'random': Math.random() },  function( data ) {
        uploadImagesWithUploadId(data.uploadId);
    })
}

function uploadImagesWithUploadId(uploadId){
    var csrfmiddlewaretoken = $("#imageUploadForm > input[name='csrfmiddlewaretoken']").val();
    var imageUploadedCount = 0;

    Array.prototype.forEach.call(viewModel.filesToUpload(), function(imageToUpload) {
        var fd = new FormData();
        fd.append("imageSetId", uploadId);
        fd.append("fileToUpload", imageToUpload.imgData);
        fd.append("csrfmiddlewaretoken", csrfmiddlewaretoken);
        var xhr = new XMLHttpRequest();

        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.open("POST", "imageUpload");
        xhr.send(fd);

        imageToUpload['uploading'](true);
        viewModel.shouldShowAddMoreButton(false);
        viewModel.shouldShowUploadButton(false);

        function uploadComplete(evt) {
             imageToUpload['uploading'](false);
             imageUploadedCount++;
             if (imageUploadedCount === viewModel.filesToUpload().length) {
                 viewModel.shouldShowProceedButton(true);
             }

        }
        function uploadFailed(evt) {
             alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
             alert("The upload has been canceled by the user or the browser dropped the connection.");
        }  
    });
}

// Slideshow animations
$(".slideshow > div:gt(0)").hide();
setInterval(function() { 
    $('.slideshow').each(function(slideshow,element) {
        $( this ).find('> div:first').fadeOut(1000)
        .next()
        .fadeIn(1000)
        .end()
        .appendTo($(this)); 
    }) },  3000); 

  
 </script>
{% endblock %}
