{% extends "app/layout.html" %}
{% block content %}
{% load staticfiles %}

 <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro">
                        <h1>Berthier Lemieux</h1>
                        <h3>Portfolio</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://github.com/blelem" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="http://stackoverflow.com/users/867248/berthier-lemieux?tab=topactivity" class="btn btn-default btn-lg"><i class="fa fa-stack-overflow fa-fw"></i> <span class="network-name">Stack overflow</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/berthierlemieux" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- Page Content -->

	<a  name="services"></a>
   
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 col-xs-12  ">
                    <p align="center">
                    <a href="http://mansewizphys.azurewebsites.net/ElasticPendulum/">
                       <img class="img-responsive" style="padding-top:75px;" src="{% static 'app/img/pendulum-experiment.jpg' %}" alt="">
                    </a>
                    </p>
                </div>

                <div class="col-lg-6 col-lg-offset-1 col-sm-6 col-xs-12  ">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Elastic Pendulum</h2>
                    <p class="lead">Fooling around with SciPy running on Azure to interactively solve a math problem. </p>
                    <p class="lead">Using Django, SciPy, D3 and Javascript. <a target="_blank" href="http://mansewizphys.azurewebsites.net/ElasticPendulum/">Try it here</a>!</p>
                    <p align="center">
                    <img class="thumbnail-icons" src="{% static 'app/img/d3.png' %}"/>
                    <img class="thumbnail-icons" src="{% static 'app/img/django.png' %}"/>
                    <img class="thumbnail-icons" style="padding-left:0px;" src="{% static 'app/img/scipy_logo.png' %}"/> </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

  <div class="content-section-b">
        <div class="container">
            <div class="row">        
                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-5    " >    
                    <div class="embed-responsive embed-responsive-16by9">                    
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/nbPN1ciFb50" frameborder="0" allowfullscreen></iframe>
                        </div>
                </div>   
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5  col-xs-push-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Spells with kinect</h2>
                    <p class="lead">Fooling around with the Kinect SDK</p>
                    <p class="lead">Using OpenGL and Cinder. </p>
                    <p align="center">
                    <img class="thumbnail-icons" src="{% static 'app/img/kinect.png' %}"/>
                    <img class="thumbnail-icons" src="{% static 'app/img/cinderlogo.png' %}"/>
                    <img class="thumbnail-icons" src="{% static 'app/img/boost.png' %}"/> </p>
                </div>
                
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

   <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 col-xs-12" style="padding-top:50px;" >
                    <a href="http://symbianoggplay.sourceforge.net/S60NonMMF.html">
                       <img class="img-responsive"  src="{% static 'app/img/s60_oggPlay.gif' %}"  alt="">
                    </a>
                </div>  

                <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-xs-12 ">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">OggPlay</h2>
                    <p class="lead">Open Source music player </p>
                    <p class="lead">More than 300 000 downloads  </p>
                    <p align="center">
                        <img class="thumbnail-icons" src="{% static 'app/img/OggPlayLogo.png' %}"/>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->


   <div class="content-section-b">
        <div class="container">
            <div class="row">        
                <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-5 col-lg-offset-1   " >
                    <p align="center">
                        
                    <a href="http://allaboutwindowsphone.com/software/content/FallFury.php">
                       <img class="img-responsive"  src="{% static 'app/img/fallfury.png' %}" alt="">
                    </a>
                    </p>
                </div>   
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5  col-xs-push-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">FallFury</h2>
                    <p class="lead">A Windows Phone 8.0 port of the coding4fun open source game</p>
                    <p class="lead">Using DirectX, C++ and C#. <a target="_blank" href="http://allaboutwindowsphone.com/software/content/FallFury.php">Try it here</a>!</p>
                    <p align="center">
                    <img class="thumbnail-icons" src="{% static 'app/img/NET_Framework_v4.5_logo.png' %}"/>
                    <img class="thumbnail-icons" src="{% static 'app/img/Directx9.png' %}"/>
                    <img class="thumbnail-icons" src="{% static 'app/img/coding4fun.png' %}"/> </p>
                </div>
                
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

   <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 col-xs-12" style="padding-top:50px;" >
                    <a href="https://channel9.msdn.com/Events/Build/2013/2-210">
                       <img class="img-responsive"  src="{% static 'app/img/build-stage-2012.jpg' %}"  alt="">
                    </a>
                </div>  

                <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-xs-12 ">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">//Build talk</h2>
                    <p class="lead">A talk at Microsoft //Build 2013 </p>
                    <p class="lead">  Windows Phone, Building a Camera App </p>
                    <p class="lead">Live coding of a camera application, Moscone Center, San Francisco</p>
                    <p align="center">
                        <img class="thumbnail-icons" src="{% static 'app/img/build-conference.jpg' %}"/>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

   <div class="content-section-b">
        <div class="container">
             <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-5 col-lg-offset-1" style="padding-top:50px;" >
                    <a href="https://msdn.microsoft.com/en-us/library/dn859593.aspx">
                       <img class="img-responsive"  src="{% static 'app/img/Nokia-Imaging-SDK.jpg' %}"  alt="">
                    </a>
             </div>  

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5  col-xs-push-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Lumia Imaging SDK</h2>
                    <p class="lead">Product Readiness, Documentation, sample apps, developer support </p>
                    <p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

{% endblock %}
